{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <h1>Crockerometer</h1>

  {% for user in users %}
    <p>Hi, my name is {{ user.username }}</p>
    <p>I am the {% cycle 'first' 'second' %} user </p>
  {% endfor %}

  {% if False %}
    <p>Launch the missiles!</p>
  {% else %}
    <p>Nothing to see here</p>
  {% endif %}

  <form action="post_metric/" method="post">
    {% csrf_token %}
    {{ form2.as_p }}
    <input type="submit" value="Submit">
  </form>

  <form action="post_vote/" method="post">
    {% csrf_token %}
    {{ form3.as_p }}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
