{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <h1>Crockerometer</h1>

  <ul>
    {% for user in users %}
      <li>
        <a href="/user/{{ user.username }}">{{ user.username }}</a>
        <p>I am the {% cycle 'first' 'second' %} user </p>
        <p>Look at mah seksay ratings:</p>
        {% for rating in user.rating_set.all %}
          <p>{{ rating }}</p>
        {% endfor %}
      </li>

     <!--  <input type="submit" value="Submit" data-id="{{ rating.id }}"> -->

    </form>

    {% endfor %}
  </ul>

  <form action="post_metric/" method="post">
    {% csrf_token %}
    {{ metric_form.as_p }}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
